.footer {
  padding: var(--space-10);
  margin: 0 auto;
  max-width: var(--max-content);
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  & a {
    transition: opacity var(--transition);
    opacity: 0.4;
  }

  & a:hover {
    opacity: 1;
  }
}

.footerInfo {
  & img {
    display: inline-block;
    margin-bottom: -3px;
    margin-inline: 2px;
  }

  & > *:last-child {
    color: var(--muted);
  }
}

.footerLinks {
  display: flex;
  gap: 16px;
}